* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
}

h1 {
    color: #2828b8;
}

p {
    margin: 1rem;
}

.header-pre-title {
    color: #5858f5;
}

.my-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 5rem;
}

.header-text {
    text-transform: uppercase;
    font-weight: lighter;
    color: #5858f5;
}

button {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 10px 3rem;
    border: 4px solid #2828b8;
    background-color: #242424;
    color: #fff;
    border-radius: 6px;
    margin: 3rem 0;
    cursor: pointer;
    letter-spacing: 0.5rem;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: #2828b8;
    color: #242424;
}

i {
    margin: 1rem;
}
#note {
    color: #5858f5;
}
.linkedin {
    color: #2967bc;
    transition: 0.2s ease-in;
}

.github {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    margin-top: 3rem;
    margin-right: 1rem;
    transition: 0.3s ease-out;
}

hr {
    border: 2px solid #fff;
    background-color: #fff;
}

.links {
    font-size: 1.6rem;
}

.linkedin:hover {
    color: #1f4d8d;
}

.about {
    font-size: 1.6rem;
    margin: 2rem 1rem;
    display: flex;
}

.about-text {
    margin: 2rem;
}

.portfolio {
    font-size: 1.6rem;
    margin: 2rem;
}

.portfolio-container {
    margin-top: 1rem;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.works-card {
    margin: 1rem;
    align-self: baseline;
    width: 40%;
}

h3 {
    color: #5858f5;
}
.about-header {
    margin-top: 2rem;
    margin-left: 2rem;
}

img {
    border-radius: 6px;
    margin-top: 2rem;
    width: 50%;
    height: 100%;
}

.works-image {
    width: 100%;
}

.eye {
    color: #5858f5;
    transition: 0.2s ease-in;
}

.eye:hover {
    color: #2828b8;
}

.github-hover {
    transition: 0.2s ease-in;
}

.github-hover:hover {
    color: #525252;
}

.note {
    font-size: 1.2rem;
}

.works-header {
    margin-left: 1rem;
}
@media only screen and (max-width: 375px) {
    .header {
        text-align: center;
    }
    p {
        height: 50%;
    }
}
